body{
    background-image: url(splash.jpg);
    background-position: center;
    background-size: 100%100%;
    font-family: sans-serif;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin-top: 40px;
}
.description{
    width: 800px;
    background-color: rgb(0,0,0,0.6);
    margin: auto;
    color: #ffff;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
}
.main{
    background-color: rgb (0,0,0,0,5);
    width: 800px;
    margin: auto;
}
form{
    padding: 10px;
}