body{
    background-image: url(birth.jpg);
    background-position: center;
    background-size: 100%100%;
    font-family: sans-serif;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin-top: 40px;
}
.description{
    width: 800px;
    background-color: aliceblue;
    margin: auto;
    color: black;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
}